.p-cards-event {
  display: grid;
  gap: 8px;
  max-width: 880px;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .p-cards-event {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  .p-cards-event {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.p-card-event {
  display: block;
  height: 100%;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .p-card-event {
    padding: 24px;
  }
}

.p-card-event__link {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 12px;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  .p-card-event__link {
    display: block;
    grid-template-columns: none;
    gap: 0;
    padding: 0;
  }
}

.p-card-event__amount {
  aspect-ratio: 3 / 2;
  overflow: hidden;
  border-radius: 8px;
}

.p-card-event__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-card-event__title {
  font-size: 13px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .p-card-event__title {
    margin-top: 14px;
    font-size: 16px;
  }
}

.p-card-event__text {
  display: none;
  margin-top: 12px;
  font-size: 14px;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-card-event__text {
    display: block;
  }
}

.p-card-event__schedule {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-card-event__schedule {
    margin-top: 12px;
    font-size: 14px;
  }
}

.p-card-event__buttons {
  display: none;
}
@media screen and (min-width: 768px) {
  .p-card-event__buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
    margin-top: 12px;
  }
}

.p-card-event__button-link {
  display: grid;
  justify-content: center;
  padding: 12px;
  font-size: 14px;
  font-weight: 700;
  border-radius: calc(infinity * 1px);
}

.p-card-event__button.--detail .p-card-event__button-link {
  color: #000;
  background-color: #fff;
  border: 1px solid #cad5e2;
}

.p-card-event__button.--reservation .p-card-event__button-link {
  color: #fff;
  background-color: #ff6900;
  border: 1px solid #ff6900;
}

@media (any-hover: hover) {
  .p-card-event__image {
    transition: scale 0.3s;
  }
  .p-card-event__link:hover .p-card-event__image {
    scale: 1.05;
  }

  .p-card-event__button.--detail .p-card-event__button-link {
    transition: color 0.3s;
  }
  .p-card-event__button.--reservation .p-card-event__button-link {
    transition: filter 0.3s;
  }
  .p-card-event__button.--detail .p-card-event__button-link:hover {
    color: #ff6900;
  }
  .p-card-event__button.--reservation .p-card-event__button-link:hover {
    filter: brightness(1.25);
  }
}
