.buttonRound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  height: 64px;
  padding: 8px 24px;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  overflow-wrap: anywhere;
  background-color: #6fa24a;
  border-radius: calc(1px * infinity);
}

@media (any-hover: hover) {
  .buttonRound {
    transition: background-color 0.2s;
  }

  .buttonRound:hover {
    background-color: #54802f;
  }
}
